body {
	background-color: rgba(252,166,201,255);
	margin: auto 33%;
	font-size: 18px;
}
h1 {
	padding: 20px;
	text-align: center;
	color: white;
	font-size: 4em;
	font-family: sans-serif;
}
h1:hover {
	color: black;
}
p {
	text-align: center;
	color: white;
}
.quote1{
	font-family: serif;
}
#author1{
	font-size: 1.25em;
	font-family: sans-serif;
}
ol{
	text-align: left;
	font-family: sans-serif;
}
img{
	width: 50%;
	display: block;
	margin: 20% auto;
}
.quote2{
	font-size: 3em;
	font-family: serif;
}
#author2{
	color: black;
	font-family: sans-serif;
}